 <!DOCTYPE html>
  <html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">



    <title>Cadastro de Usuário</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "users/bootstrap.min.css" %}">
    <link href={% static "users/open-iconic-master/font/css/open-iconic-bootstrap.css" %} rel="stylesheet">
  </head>
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Cadastrar Digital</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
                      
                    
                  </div>
                  <div class="modal-body text-center">
                    
                      <span><img src="{% static "images/digital.png" %}" style=" height: 80px; width: 80px;" ></span>
                    
                    <p >Coloque o dedo indicador para cadastro de impressão de digital</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
  <body style="margin-top: 3%;">
    <div class="container">
      <div class="row " style="padding-left: 5%;">
          <span>
            <img src={% static "images/equipamentos.png" %} style="height: 30px; width: 30px; ">
          </span>
          <p style="margin-left: 10px; font-size: 150%">Usuário</p>
        </div>
       <div class="container-fluid">
    {% if user.id != 'None' %}
    <form name="user_form" method="post" class="form-padrao" autocomplete="off"> {% csrf_token %}
    {% else %}
    <form id="submit-button" name="user_form" method="post" class="form-padrao" autocomplete="off"> {% csrf_token %}
    {% endif %}
   
          {% for message in messages %}
          {% if message.tags == 'error' %}
            <div class="alert alert-danger">
              <strong>Error!</strong> {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
            <strong>Success!</strong> {{message}}
          </div>
         
           {% endif %}
          {% endfor %}
           {% if user.fingerprint == None %}
            <div class="alert alert-danger">
              <strong>Atenção!</strong> Usuário sem cadastro de digital
            </div>
           {% endif %}
         
      <div class="form-group row">
        <label  for="txtNome" class="col-lg-2 col-md-2 col-sm-12 col-form-label">Nome: </label>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <input type="hidden" id="nomeUsuarioJaCadastrado" name="nomeUsuarioJaCadastrado" value="0">
          <input class="form-control rounded-pill" type="texto" name="usuario" id="usuario" pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" title="Este campo aceita apenas letras" value="{{user.usuario}}"  style=" background: #e9ecef">
        </div>
      </div> 

      <div class="form-group row">
        <label  for="txtCPF" class="col-lg-2 col-md-2 col-sm-12 col-form-label">CPF: </label>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <!-- Se cpfJaCadastrado = 1, mostra mensagem de erro dizendo que CPF já está cadastrado -->
          <input  type="text" value="{{user.cpf}}" class="form-control rounded-pill" pattern="^(\d{3}\.\d{3}\.\d{3}-\d{2})|(\d{11})$" title="Digite apenas os números do seu CPF/ verifique se a quantidade de números está correta" placeholder="000.000.000-00" onkeypress="$(this).mask('000.000.000-00');" minlength="13" maxlength="13" id="cpf" name="cpf" style=" background: #e9ecef" required>
        </div>
      </div>
      
      <div class="form-group row">
        <label  for="txtEmail" class="col-lg-2 col-md-3 col-sm-12 col-form-label">Email: </label>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <input type="email" value="{{user.email}}" class="form-control rounded-pill" id="email" name="email" required="required"  name=“email” pattern="[^@\s]+@[^@\s]+\.[^@\s]+" style=" background: #e9ecef">
        </div>
      </div>

      <div class="form-group row">
        <label  for="txtTelefone" class="col-lg-2 col-md-2 col-sm-12 col-form-label">Telefone: </label>
        <div class="col-lg-10 col-md-10 col-sm-5">
          <input  type="text" value="{{user.telefone}}" class="form-control rounded-pill" id="telefone" name="telefone"  placeholder="(00) 00000-0000" pattern="\([0-9]{2}\)[\s][0-9]{5}-[0-9]{4}" onkeypress="$(this).mask('(00) 00000-0000')" title="Digite apenas os números" style=" background: #e9ecef" required>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label  for="txtSenha1" class="col-lg-2 col-md-2 col-sm-12 col-form-label">Senha: </label>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <input type="password" value="{{user.senha}}" class="form-control rounded-pill" minlength="8" maxlength="12"  id="pwd1" name="pwd1" style=" background: #e9ecef" title="Este campo aceita letras, números e caracteres especiais" required>
            <span class="oi oi-eye" style="position: absolute;top: 5px;right: 40px;cursor: pointer;  font-size: 25px; color: gray;"></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <label  for="txtSenha2" class="col-lg-2 col-md-2 col-sm-12 col-form-label">Repetir Senha: </label>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <input type="password" class="form-control rounded-pill"  minlength="8" maxlength="12" id="pwd2" name="pwd2" style=" background: #e9ecef" title="Este campo aceita letras, números e caracteres especiais" required>
            <span class="oi oi-eye" id="olho" style="position: absolute;top: 5px;right: 40px;cursor: pointer; font-size: 25px; color: gray;"></span>
          </div>
        </div>
      </div>

  
     
      <div class="col-lg-12 col-sm-12 text-right" style="padding: 50px 0px">
        
        <a  href="{% url "user_list" %}" class="btn rounded-pill" style="background: #e9ecef">Voltar</a>
                 
        {% if user.id != 'None' %}
        <button type="submit" class="btn rounded-pill" style="background: #e9ecef">Salvar</button>
        {% else %}
        <input type="submit" name="continue" id="continue" value="Continue" class="btn rounded-pill" style="background: #e9ecef"/>
        {% endif %}
      </div>
 
  
  </div>
</form>
{% if user.id != 'None' %}
          <form method="post" action="{% url "user_fingerprint" user.pk %}">{% csrf_token %}
            <input type="submit" value="Recadastrar Digital" class="btn rounded-pill" data-toggle="modal" data-target="#staticBackdrop" style="background: #e9ecef" />
          </form>
    {% endif %}  
 
    <script src="{% static "users/js/bootstrap.min.js" %}"></script>          
      <!-- JQuery -->
    <script src="js/jquery.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

       <script type="text/javascript">
    var password = document.getElementById("pwd1")
  , confirm_password = document.getElementById("pwd2");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Senhas diferentes!");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
  </script>
       <script>
$("#submit-button").submit(function(e){
    $('#staticBackdrop').modal('show');
    $('#submit-button').submit();
    return false;
});
</script>
      <script>
  let btn = document.querySelector('.oi-eye');
btn.addEventListener('click', function() {
    let input = document.querySelector('#pwd1', '#pwd2' );
    if(input.getAttribute('type') == 'password') {
        input.setAttribute('type', 'text');
    } else {
        input.setAttribute('type', 'password');
    }
});
  </script>
     <script >
       var senha = $('#pwd2');
var olho= $("#olho");

olho.mousedown(function() {
  senha.attr("type", "text");
});

olho.mouseup(function() {
  senha.attr("type", "password");
});
// para evitar o problema de arrastar a imagem e a senha continuar exposta, 
//citada pelo nosso amigo nos comentários
$( "#olho" ).mouseout(function() { 
  $("#senha").attr("type", "password");
});
     </script>    
    
</body>
</html>