 <div class="modal fade" id="ModalEdit{{equipment_type.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Tipo de Equipamento </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       {% for message in messages %}
        <div class="alert alert-danger">
          <strong>Error!</strong> {{ message }}
        </div>
      {% endfor %}
        <form method="post" action="{% url 'equipment_type_edit' equipment_type.id %}">{% csrf_token %}
          <div class="form-group row">
            <label class="col-lg-4 col-md-4 col-sm-12 col-form-label" for="nome">Nome:</label>
             <div class="col-lg-8 col-md-8 col-sm-12">
              <input class="form-control rounded-pill" type="name_type" value="{{equipment_type.name}}" required name="tag" id="name_type" style=" background: #e9ecef">
             </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-4 col-md-4 col-sm-12 col-form-label" for="tipo">Tempo Máximo:</label>
             <div class="col-lg-8 col-md-8 col-sm-12">
              <input class="form-control rounded-pill" value="{{equipment_type.time_maximum}}" type="ctempo" name="time_type" id="time_type" required pattern="[0-9]+$" style=" background: #e9ecef">
             </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>


