<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  <title>Equipamentos</title>
  {% load static %}
  <link href={% static "users/open-iconic-master/font/css/open-iconic-bootstrap.css" %} rel="stylesheet">
  <link rel="stylesheet" href="{% static "users/bootstrap.min.css" %}" >
  {% block content %}
</head>
<body >
{% for equipment in equipments %}
                <div class="modal fade" id="EscolhaModal{{equipment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Realizar emprestimo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        
                        {% if equipment.status == 'Livre' %}
                        <form name="my" id="my" method="post" action="{% url "emprestar" equipment.pk %}">{% csrf_token %}
                        <div class="form-group row">
                          <label class="col-lg-5 col-md-5 col-sm-12 col-form-label" for="tipo">Tempo de emprestimo:</label>
                          <div class="col-lg-7 col-md-7 col-sm-12">
                            <input class="form-control rounded-pill" value="{{equipment.maximum_time}}" type="number" min="1" name="time_type" id="time_type" required pattern="[0-9]+$" style=" background: #e9ecef">
                          </div>
                        </div>
                        {% else %}
                        <form name="my" id="my" method="post" action="{% url 'devolver' equipment.id %}">{% csrf_token %}
                        {% endif %}
                        {% if 'Atrasado' == equipment.status %}
                        <button type="submit" class="btn rounded-pill" data-toggle="modal" data-target="#Modal{{equipment.id}}"style="margin-left: 5px; background: #4de7ff; color: black;">
                        {% else %}
                        <div class="text-center">
                        <button type="submit" class="btn rounded-pill" data-toggle="modal" data-target="#Modal{{equipment.id}}"style="margin-left: 5px; background: #e9ecef">
                        {% endif %}
                        Por Digital
                        </button>
                        <button type="button" onclick="javascript:solution(this.form);" class="btn rounded-pill" data-toggle="modal" data-target="#danielpor_senha{{equipment.id}}" style="background: #e9ecef">
                          Por Senha
                          </button>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
           <script language="JavaScript"> 
    function solution(form) { 
    var tempo=0;
    tempo = form.time_type.value;
    
    /* aqui inicio o código mostrado na nova janela */
    chaine='' 
    +'<div class="form-group row">'
    +'<label class="col-lg-3 col-md-3 col-sm-12 col-form-label" for="tipo">Tempo de emprestimo:</label>'
    +'<div class="col-lg-9 col-md-9 col-sm-12">'
    +'<input class="form-control rounded-pill" value="' + tempo + '" type="number" min="1" name="time_type" id="time_type" required pattern="[0-9]+$" style=" background: #e9ecef" >'
    +'</div></div>'
    
    $('.campo_tempo').html(chaine);
    
    }
    </script>
   <div class="modal fade" id="Modal{{equipment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmar Empréstimo </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-center">
                  {% for message in messages %}
                      <div class="alert alert-danger">
                        <strong>Error!</strong> {{ message }}
                      </div>
                  {% endfor %}
                  <p >Coloque o dedo leitor</p>
                  
                  <span><img src={% static "images/digital.png" %} style="height: 80px; width: 80px;" ></span>
                  {% ifequal equipment.status 'Livre' %}
                  <form name="myForm{{equipment.id}}" id="myForm{{equipment.id}}" method="post" action="{% url "emprestar" equipment.pk %}">{% csrf_token %}
                  {% else %}
                  <form name="myForm{{equipment.id}}" id="myForm{{equipment.id}}" method="post" action="{% url "devolver" equipment.pk %}">{% csrf_token %}
                  {% endifequal %}
                  <button type="submit" class="btn border-0">Posicione o dedo indicador sobre o leitor</button>
                  </form>
              </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                  
                </div>
              </div>
            </div>
          </div>

           <div class="modal fade" id="danielpor_senha{{equipment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmar Empréstimo</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                  <!-- <form class="form-padrao" autocomplete="off"> -->
                    {% for message in messages %}
                        <div class="alert alert-danger">
                          <strong>Error!</strong> {{ message }}
                        </div>
                    {% endfor %}
                    {% ifequal equipment.status 'Livre' %}
                    <form method="POST" id="add_form" action="{% url 'emprestar_user' equipment.id %}">{% csrf_token %}
                    {% else %}
                    <form method="POST" id="add_form" action="{% url 'devolver_user' equipment.id %}">{% csrf_token %}
                    {% endifequal %}
                    <div class="form-group row">
                      <label class="col-lg-3 col-md-3 col-sm-12 col-form-label" for="textNome">Login:</label>
                      <div class="col-lg-9 col-md-9 col-sm-12">
                        <input class="form-control rounded-pill" type="textNome" name="username"  pattern="^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" maxlength="20" title="Este campo aceita apenas letras" style=" background: #e9ecef">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-3 col-md-3 col-sm-12 col-form-label" for="senha">Senha:</label>
                      <div class="col-lg-9 col-md-9 col-sm-9">
                        <input class="form-control mr-2 rounded-pill" type="password" required name="password" maxlength="12" minlength="8" title="Este campo aceita letras, números e caracteres especiais" style=" background: #e9ecef">
                      </div>
                    </div>
                    <div class="campo_tempo">
                    
                    </div>
                   
              </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                  <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
                </form>
              </div>
            </div>
          </div>
          </div>
          

{% endfor %}
  <div class="container pt-2">
    <div class="row " style="padding-left: 5%;">
        <span>
          <img src={% static "images/equipamentos.png" %} style="height: 30px; width: 30px; ">
        </span>
        <p style="margin-left: 10px; font-size: 150%">Equipamentos </p>
      </div>
      <h5>
        </h5>
      <div class="row justify-content-center">
       <form action="{% url "equipment_list" %}">
      <button class="btn btn-link text-dark">
          Todos
        </button>
        </form>
      {% for type in type_equipment %}
         <form action="{% url "filter_type_equipment" type.name %}">
        <button class="btn btn-link text-dark ">
         {{ type.name }}  
        </button>
        </form>
      {% endfor %}
      </div>
      <div style="margin-top: 10px;" class="row justify-content-center">
        <form class="form-inline" method="POST" action="{% url 'search' type search %}" >{% csrf_token %}
          <div class="input-group">
            <input class="form-control  rounded-pill" type="text" placeholder="Search.." name="search" required="required" style="width: 800px; background: #e9ecef">
            <div class="submit">
            <button class="border-0" type="submit" style="background: #FFFFFF;">
              <span>
                <img src="{% static "images/lupa.png" %}" style="height: 30px; width: 30px">
              </span>
            </button>
        <a href="{% url "equipment_list_inactive" type %}" type="button" class="btn rounded-pill" style="background: #e9ecef">Ver inativos</a>
            </div>
          </div>
        </form>
      </div>
      
      <table class="table table-sm" style="width: 1000px;  margin:auto; margin-top: 10px;" >
       
  <thead>
    <tr class="d-flex">
      <th class="col-lg-3 col-md-3 col-sm-3">
        <a href="{% url "filter_list_equipment" 'Etiqueta' type %}" style="color: black;">Etiqueta</a>
      </th>
      <th class="col-lg-3 col-md-3 col-sm-3">
        <a href="{% url "filter_list_equipment" 'Descricao' type %}" style="color: black;">Descrição</a>
      </th>
      <th class="col-lg-3 col-md-3 col-sm-3">
        <a href="{% url "filter_list_equipment" 'EmPosse' type %}" style="color: black;">Em posse</a>
      </th>
      <th class="col-lg-3 col-md-3 col-sm-3">
        <a href="" style="color: black;">Ações</a>
      </th>
      </tr>
    </thead>

  <tbody>
 {% for equipment in list_equipment %}
  

    <tr class="d-flex">
      <td class="col-lg-3 col-md-3 col-sm-3" >{{ equipment.tag }}</td>
      <td class="col-lg-3 col-md-3 col-sm-3">{{ equipment.description }}</td>
      {% load my_tag %}
      <td class="col-lg-3 col-md-3 col-sm-3">{% NameUser equipment.id %}</td>
      <td class="col-lg-3 col-md-3 col-sm-3">
         <div class="row">
        <form class="form-inline" action="{% url "equipment_edit" equipment.id %}">
          <button class="btn btn-sm rounded-pill" style="background: #e9ecef">
              Editar
          </button>
        </form>
          <button type="button" class="btn btn-sm rounded-pill" data-toggle="modal" data-target="#ModalLabel{{equipment.id}}" style="margin-left: 5px;background: #e9ecef">
          {% ActiveOrInactive equipment.id %}
          </button>
          {% include 'equipments/equipment_confirm_delete.html' with equipment=equipment %}
         
         <!--
          {% if equipment.status == 'Livre' %}
          <form name="my" id="my" method="post" action="{% url "emprestar" equipment.pk %}">{% csrf_token %}
          {% else %}
          <form name="my" id="my" method="post" action="{% url 'devolver' equipment.id %}">{% csrf_token %}
          {% endif %}
          {% if 'Atrasado' == equipment.status %}
          <button type="submit" class="btn btn-sm rounded-pill" data-toggle="modal" data-target="#Modal{{equipment.id}}"style="margin-left: 5px; background: #4de7ff; color: black;">
          {% else %}
          <button type="submit" class="btn btn-sm rounded-pill" data-toggle="modal" data-target="#Modal{{equipment.id}}"style="margin-left: 5px; background: #e9ecef">
          {% endif %}
          {% LoanOrDevolution equipment.id %}
          </button>
          </form>
          -->


          {% if 'Atrasado' == equipment.status %}
          <button type="button" class="btn btn-sm rounded-pill" data-toggle="modal" data-target="#EscolhaModal{{equipment.id}}"style="margin-left: 5px; background: #4de7ff; color: black;">
          {% else %}
          <button type="button" class="btn btn-sm rounded-pill" data-toggle="modal" data-target="#EscolhaModal{{equipment.id}}"style="margin-left: 5px; background: #e9ecef">
          {% endif %}
          {% LoanOrDevolution equipment.id %}
          </button>
          {% if 'Atrasado' == equipment.status %}

          {% if equipment.email_sent %}
          Email Enviado
            <a href="{% url "email_" equipment.id %}" class="border-0" style="background-color: white;">
            <span class="oi oi-envelope-closed"></span>

          {% else %}
          Email Não Enviado
                 
          <a href="{% url "email_" equipment.id %}" class="border-0">
            <span><img class="border-0" src="{% static "images/mensagem.png" %}" style="height: 30px; width: 30px;"></span>
          </a>
 
          {% endif %}
          {% endif %}
      </div>
             
      </td>
    </tr>
    {% empty %}
    <tr>
        <td class="col-lg-6 col-md-6 col-sm-6 text-center">
          Sem resultados
      </td>
    </tr>
    {% endfor %}
  </tbody>
 
</table>

<hr width="1000px" style="margin-top: -1px;">
<nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {% if list_equipment.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ list_equipment.previous_page_number }}">Anterior</a></li>
          {% endif %}

          <li class="page-item"> <a class="page-link">Página {{ list_equipment.number }} de {{ list_equipment.paginator.num_pages }}.</a></li>

          {% if list_equipment.has_next %}
              <li class="page-item"><a class="page-link"  href="?page={{ list_equipment.next_page_number }}">Próximo</a></li>
              <li class="page-item"><a class="page-link"  href="?page={{ list_equipment.paginator.num_pages }}">Última &raquo;</a></li>
          {% endif %}

      </ul>
</nav>

  <div class="row" style="padding-left: 85%;  margin-bottom: 5px;">
        <form class="form-inline" action="{% url "equipment_new" %}">
        <button class="btn rounded-pill" style="background: #e9ecef">
          Novo
        </button>
        </form>
        <form class="form-inline" action="{% url "home" %}">
        <button class="btn rounded-pill" style="margin-left: 5px;background: #e9ecef">
          Voltar
        </button>
        </form>
  </div>
  
  </div>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src={% static "users/js/bootstrap.min.js" %}></script>
    <script>
          $(document).ready(function() {
            {% if tempo_time %}
            chaine='' 
            +'<div class="form-group row">'
            +'<label class="col-lg-3 col-md-3 col-sm-12 col-form-label" for="tipo">Tempo de emprestimo:</label>'
            +'<div class="col-lg-9 col-md-9 col-sm-12">'
            +'<input class="form-control rounded-pill" value="' + {{tempo_time}} + '" type="number" min="1" name="time_type" id="time_type" required pattern="[0-9]+$" style=" background: #e9ecef" >'
            +'</div></div>'
            
            $('.campo_tempo').html(chaine);
            {% endif %}
            $('#daniel{{tipo}}{{pk}}').modal('show');
            
          });
    </script>
    <script>
          $(document).ready(function() {
            $('#Modal{{chave}}').modal('show');
            document.myForm{{chave}}.submit();
          });
    </script>
</body>
{% endblock %}
</html>