<h1>Clients</h1>

<table border="1">
<thead>
    <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for client in object_list  %}
    <tr>
    <td>{{ client.nome }}</td>
    <td>{{ client.cpf }}</td>
    <td><a href="{% url "client_view" client.id %}">view</a></td>
    <td><a href="{% url "client_edit" client.id %}">edit</a></td>
    <td><a href="{% url "client_delete" client.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "client_new" %}">New</a>