<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  <title>Equipamentos</title>
  {% load static %}
  <link href={% static "users/open-iconic-master/font/css/open-iconic-bootstrap.css" %} rel="stylesheet">
  <link rel="stylesheet" href="{% static "users/bootstrap.min.css" %}" >
  {% block content %}
</head>
<body style="margin-top: 3%;">
  <div class="container">
    <div class="row " style="padding-left: 5%;">
        <span>
          <img src={% static "images/equipamentos.png" %} style="height: 30px; width: 30px; ">
        </span>
        <p style="margin-left: 10px; font-size: 150%">Equipamentos </p>
        
      </div>
      <div class="row justify-content-center">
       <form action="{% url "equipment_list" %}">
      <button class="btn btn-link text-dark">
          Todos
        </button>
        </form>
      {% for type in type_equipment %}
         <form action="{% url "filter_type" type.name %}">
        <button class="btn btn-link text-dark ">
         {{ type.name }}  
        </button>
        </form>
      {% endfor %}
      <form action="{% url "equipment_list_inactive" type %}">
      <button class="btn btn-link text-dark">
          Ver Inativos
        </button>
        </form>
      </div>
      <div style="margin-top: 10px;" class="row justify-content-center">
        <form class="form-inline" method="POST" action="{% url 'search' type %}">{% csrf_token %}
          <div class="input-group">
            <input class="form-control mr-2 rounded-pill"  type="text" placeholder="Search.." name="search" required="required" style="width: 900px; background: #e9ecef">
            <div class="submit">
            <button class="border-0" type="submit" style="background: #FFFFFF;">
              <span>
                <img src="{% static "images/lupa.png" %}" style="height: 30px; width: 30px">
              </span>
            </button>
            </div>
          </div>
        </form>
      </div>
      
      <table class="table" style="width: 1000px;  margin:auto; margin-top: 10px;" >
  <thead>
    <tr>
      <th scope="col" width="25%" style="text-align: left;">
        <a href="{% url "filter_list" 'Etiqueta' type %}" style="color: black;">Etiqueta</a>
      </th>
      <th scope="col" width="25%" style="text-align: left;">
        <a href="{% url "filter_list" 'Descricao' type %}" style="color: black;">Descrição</a>
      </th>
      <th scope="col" width="20%" style="text-align: left;">
        <a href="{% url "filter_list" 'EmPosse' type %}" style="color: black;">Em posse</a>
      </th>
      <th scope="col" width="30%" style="text-align: left;">
        <a href="" style="color: black;">Ações</a>
      </th>
      </tr>
    </thead>
  <tbody>
  {% for equipment in list_equipment %}
    <tr>
      <td>{{ equipment.tag }}</td>
      <td>{{ equipment.description }}</td>
      {% load my_tag %}
      <td>{% NameUser equipment.id %}</td>
       {% ifequal 'Atrasado' equipment.status %}
      <td>
      <div class="row">
        <form class="form-inline" action="{% url "equipment_edit" equipment.id %}">
          <button class="btn rounded-pill" style="background: #e9ecef">
              Editar
          </button>
        </form>
        <form class="form-inline" action="{% url "equipment_delete" equipment.id %}">
          <button class="btn rounded-pill" style="margin-left: 5px;background: #e9ecef">
          {% ActiveOrInactive equipment.id %}
          </button>
        </form>
        <form class="form-inline" action="{% url "equipment_view" equipment.id %}">
          <button class="btn rounded-pill" style="margin-left: 5px; background:red;">
          {% LoanOrDevolution equipment.id %}
          </button>
        </form>
      </div>

      </td>
      {% endifequal %}
    {% if 'Atrasado' != equipment.status %}
      <td >
         <div class="row">
        <form class="form-inline" action="{% url "equipment_edit" equipment.id %}">
          <button class="btn rounded-pill" style="background: #e9ecef">
              Editar
          </button>
        </form>
          <button type="button" class="btn rounded-pill" data-toggle="modal" data-target="#ModalLabel{{equipment.id}}" style="margin-left: 5px;background: #e9ecef">
          {% ActiveOrInactive equipment.id %}
          </button>
          {% include 'equipments/equipment_confirm_delete.html' with equipment=equipment %}
        
        <form class="form-inline" action="{% url "equipment_view" equipment.id %}">
          <button class="btn rounded-pill" style="margin-left: 5px; background: #e9ecef">
          {% LoanOrDevolution equipment.id %}
          </button>
        </form>
      </div>
      </td>
      {% endif %}
      
    </tr>
      {% empty %}
      Sem Resultados

     {% endfor %}
  </tbody>
</table>
<hr width="1000px" style="margin-top: -1px;">
  <div class="row" style="padding-left: 90%; margin-top: 10px; margin-bottom: 15px;">
        <form class="form-inline" action="{% url "equipment_new" %}">
        <button class="btn rounded-pill" style="background: #e9ecef">
          Novo
        </button>
        </form>
        <form class="form-inline" action="{% url "home" %}">
        <button class="btn rounded-pill" style="margin-left: 5px;background: #e9ecef">
          Voltar
        </button>
        </form>
      </div>
  </div>

	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static "users/js/bootstrap.min.js" %}"></script>


</body>
{% endblock %}
</html>