<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
  <title>Equipamentos</title>
  <link rel="stylesheet" href="css/bootstrap.min.css" >
  <link rel="stylesheet" href="{{ STATIC_URL }}static/users/bootstrap.min.css">
  {% block content %}
</head>
<body style="margin-top: 3%;">
  <div class="container">
    <div class="row " style="padding-left: 5%;">
        <span>
          <img src="{{STATIC_URL}}static/images/equipamentos.png" style="height: 30px; width: 30px; ">
        </span>
        <p style="margin-left: 10px; font-size: 150%">Equipamentos </p>
      </div>
      <div class="row justify-content-center">
      {% for type in type_equipment %}
         <form action="{% url "filter_type" type.name %}">
        <button class="btn btn-link text-dark ">
         {{ type.name }}  
        </button>
        </form>
      {% endfor %}
      <button class="btn btn-link text-dark" style="margin-left: 45px;">
          Ver Inativos
        </button>
      </div>
      <div style="margin-top: 10px;" class="row justify-content-center">
        <form class="form-inline" method="POST" action="{% url 'search' type %}">{% csrf_token %}
          <div class="input-group">
            <input class="form-control mr-2 rounded-pill"  type="text" placeholder="Search.." name="search" required="required" style="width: 900px; background: #e9ecef">
            <div class="submit">
            <button class="border-0" type="submit" style="background: #FFFFFF;">
              <span>
                <img src="{{STATIC_URL}}static/images/lupa.png" style="height: 30px; width: 30px">
              </span>
            </button>
            </div>
          </div>
        </form>
      </div>
      
      <table class="table" style="width: 1000px;  margin:auto; margin-top: 10px;" >
  <thead>
    <tr>
      <th scope="col" width="15%" style="text-align: center;">
        <button class="btn btn-link text-dark" >
          Etiquetas
        </button>
      </th>
      <th scope="col" width="15%" style="text-align: center;">
        <button class="btn btn-link text-dark" >
          Descrição
        </button>
      </th>
      <th scope="col" width="30%" style="text-align: center;">
        <button class="btn btn-link text-dark" >
          Em Posse
        </button>
      </th>
      <th scope="col" width="40%" style="text-align: center;">
        <button class="btn btn-link text-dark" >
          Ações
        </button>
      </th>
      </tr>
    </thead>
  <tbody>
  {% for equipment in list_equipment %}
    <tr>
      <td>{{ equipment.tag }}</td>
      <td>{{ equipment.description }}</td>
      {% load my_tag %}
      <td>{% NameUser equipment.id %}</td>
       {% ifequal 'Atrasado' equipment.status %}
      <td >
      <form action="{% url "equipment_edit" equipment.id %}">
        <button class="rounded-pill">
            Editar
          </button>
          </form>
          <form action="{% url "equipment_delete" equipment.id %}">
          <button class="rounded-pill" style="margin-left: 5px;">
            {% ActiveOrInactive equipment.id %}
          </button>
          </form>
          <form action="{% url "equipment_view" equipment.id %}">
          <button class="rounded-pill" style="margin-left: 5px; color:red;">
            {% LoanOrDevolution equipment.id %}
          </button>
          </form>
      </td>
      {% endifequal %}
    {% if 'Atrasado' != equipment.status %}
      <td style="display: inline-block">
        <form action="{% url "equipment_edit" equipment.id %}">
        <button class="rounded-pill">
            Editar
          </button>
          </form>
          <form action="{% url "equipment_delete" equipment.id %}">
          <button class="rounded-pill" style="margin-left: 5px;">
            {% ActiveOrInactive equipment.id %}
          </button>
          </form>
          <form action="{% url "equipment_view" equipment.id %}">
          <button class="rounded-pill" style="margin-left: 5px; ">
            {% LoanOrDevolution equipment.id %}
          </button>
          </form>
      </td>
      {% endif %}
    </tr>
     {% endfor %}
  </tbody>
</table>
<hr width="1000px" style="margin-top: -1px;">
  <div class="" style="padding-left: 85%; margin-top: 10px;"  >
        <form action="{% url "equipment_new" %}">
        <button class="rounded-pill">
          Novo
        </button>
        </form>
        <form action="{% url "home" %}">
        <button class="rounded-pill" style="margin-left: 5px;">
          Voltar
        </button>
        </form>
      </div>
  </div>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>


</body>
{% endblock %}
</html>