<h1>Equipments Type</h1>
<form method="POST" action="">{% csrf_token %}
    <input type="text" placeholder="Search.." name="search" required="required">
    <div class="submit">
        <button type="submit"><i class="fa fa-search"></i>PESQUISAR</button>
    </div>
</form>
<table border="1">
<thead>
    <tr>
    <th><a href="{% url "equipment_type_order_by" 'name' %}">Nome</a></th>
    <th>View</th>
    <th>Edit</th>
    <th>Inativar</th>
    </tr>
</thead>
<tbody>
    {% load my_tag %}
    {% for equipment_type in object_list  %}
    <tr>
    <td>{{ equipment_type.name }}</td>
    <td><a href="{% url "equipment_type_view" equipment_type.id %}">view</a></td>
    <td><a href="{% url "equipment_type_edit" equipment_type.id %}">edit</a></td>
    <td><a href="{% url "equipment_type_delete" equipment_type.id %}">{% ActiveOrInactiveType equipment_type.id %}</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "equipment_type_new" %}">New</a>