<h1>Equipments</h1>

<table border="1">
<thead>
    <tr>
    <th>Etiqueta</th>
    <th>Descrição</th>
    <th>Emprestimo</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for equipment in object_list  %}
    <tr>
    <td>{{ equipment.tag }}</td>
    <td>{{ equipment.description }}</td>
    <td><a href="{% url "equipment_user_new" %}">emprestimo</a></td>
    <td><a href="{% url "equipment_edit" equipment.id %}">edit</a></td>
    <td><a href="{% url "equipment_delete" equipment.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "equipment_new" %}">New</a>