<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Conequi - Relatórios</title>
</head>
<body>
    <h1>Relatorios</h1>
{{ type }}
<a href="{% url "get_rastreio" 'Listagem' %}">Listagem</a>
<a href="{% url "get_rastreio" 'Rastreio' %}">Rastreio</a>
<a href="{% url "get_rastreio" 'NaoDevolvidos' %}">Não devolvidas</a>
<form action="{% url "get_rastreio" type %}" method="post">
    {% csrf_token %}
    Tipo: {{ list_equipment_user_form.type_equipment }}
    Etiqueta: {{ list_equipment_user_form.tag }}
    Descrição: {{ list_equipment_user_form.description }}
    {% ifequal type 'Rastreio' %}
    Inicio: {{ list_equipment_user_form.start }}
    Fim: {{ list_equipment_user_form.end }}
    {% endifequal %}
    {% ifequal type 'NaoDevolvidos' %}
    Inicio: {{ list_equipment_user_form.start }}
    {% endifequal %}
    <input type="submit" value="Submit">
</form>
<table border="1">
<thead>
    <tr>
    <th>Tipo</th>
    <th>Etiqueta</th>
    <th>Descrição</th>
    <th>Solicitação</th>
    <th>Responsavel</th>
    <th>Solicitação</th>
    <th>Responsavel</th>
    <th>Qtd. Emprestimos</th>
    </tr>
</thead>
<tbody>
    {% ifequal type 'Rastreio' %}
    {% load my_tag %}
    {% for equipment_user in list_equipment_user %}
    <tr>
    <td>{% TypeName equipment_user.equipment %}</td>
    <td>{% TagName equipment_user.equipment %}</td>
    <td>{% DescriptionName equipment_user.equipment %}</td>
    <td>{{ equipment_user.loan }}</td>
    <td>{{ equipment_user.user_loan }}</td>
    <td>{{ equipment_user.devolution }}</td>
    <td>{{ equipment_user.user_devolution }}</td>
    <td>{{ equipment_user.amount_of_loans }}</td>
    </tr>
    {% endfor %}
    {% endifequal %}
    {% ifequal type 'NaoDevolvidos' %}
    {% load my_tag %}
    {% for equipment_user in list_equipment_user %}
    <tr>
    <td>{% TypeName equipment_user.equipment %}</td>
    <td>{% TagName equipment_user.equipment %}</td>
    <td>{% DescriptionName equipment_user.equipment %}</td>
    <td>{{ equipment_user.loan }}</td>
    <td>{{ equipment_user.user_loan }}</td>
    <td></td>
    <td></td>
    <td>{{ equipment_user.amount_of_loans }}</td>
    </tr>
    {% endfor %}
    {% endifequal %}
    {% ifequal type 'Listagem' %}
    {% for equipment_user in list_equipment_user %}
    <tr>
    <td>{{ equipment_user.type_equipment }}</td>
    <td>{{ equipment_user.tag }}</td>
    <td>{{ equipment_user.description }}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{ equipment_user.amount_of_loans }}</td>
    </tr>
    {% endfor %}
    {% endifequal %}
</tbody>
</table>
<a href="{% url "home" %}">voltar</a>
</body>
</html>