{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker" rel="stylesheet">
</head>

<body>
    <header class="heading">
        <nav class="primary-menu heading">
            <ul>     
                <li><a href="/home">Home</a></li>
                <li><a href="/docs">Documentation</a></li>  
                <li><a href="/contact">Contact</a></li>          
            </ul>
        </nav>
    </header>
    
    <main>
        <div>
            <a href="{{ campus }}"><img src="{% static 'images/logo_large.png' %}" alt="Duck Logo"></a>
        </div>
        
        <div class="page-header heading">
            <h1>{{ header }}</h1>
        </div>
        
        {% block content %}
        {% endblock %}
        
    </main>
</body>