{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>Generating a Permalink</h3>
    <ul>
        <li>Click on the HOME tab above.</li>
        <li>Choose your home campus from the dropdown menu.</li>
        <li>Choose your slip type from the dropdown menu.</li>
        <li>Click SUBMIT.</li>
        <li>You will be taken to your institution's landing page. You can bookmark this page for later use.</li>
    </ul>

<h3>Generating Slips for Printing</h3>
    <ul>
        <li>Confirm your CURRENT INSTITUTION is correct.</li>
        <li>Click CHOOSE FILE and find your LendingRequest.xls file and click SUBMIT. (For directions on how to get your LendingRequest.xls file, go <a href="https://calstate.atlassian.net/wiki/spaces/URS/pages/194871299/CleanSlips">here</a>.)</li>
        <li>Your SLIPS.DOCX file will be generated based on your settings.</li>
        <li>Your SLIPS.DOCX file will be downloaded by your browser (You may be prompted to confirm download).</li>
        <li>Depending on your browser, you will be able to open the file immediately upon download, or else you can click the file when it appears at the bottom of your browser screen. If neither of these options is available to you, check the your browser's download directory and find the SLIPS.docx file there.</li>
    </ul>
    
<h3>Desktop App</h3>
    <p>
        If you would like to download the legacy desktop app, you can find it <a href="https://calstate.atlassian.net/wiki/spaces/URS/pages/194871299/Pull+slip+book+band+and+sticker+templates+CleanSlips" target="_blank">here</a>.
    <p>

<h3>Need Help?</h3>
    <p>
        You can contact Jeremy Hobbs <a href="mailto:jthobbs@calpoly.edu?subject=Cleanslips">here</a>.
    </p>
    
{% endblock %}