<h1>User</h1>

<table border="1">
<thead>
    <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>Tipo</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for user in object_list %}
    <tr>
    <td>{{ user.user }}</td>
    <td>{{ user.cpf }}</td>
    <td>{{ user.group }}</td>
    <td><a href="{% url "user_view" user.id %}">view</a></td>
    <td><a href="{% url "user_edit" user.id %}">edit</a></td>
    <td><a href="{% url "user_delete" user.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "user_new" %}">New</a>