<h1>Equipments</h1>
<table border="1">
{% for type in type_equipment %}
<a href="{% url "filter_type" type %}">{{ type }}</a>
{% endfor %}
<form method="POST" action="{% url 'search' %}">{% csrf_token %}
    <input type="text" placeholder="Search.." name="search" required="required">
    <div class="submit">
        <button type="submit"><i class="fa fa-search"></i>PESQUISAR</button>
    </div>
</form>
<thead>
    <tr>
    <th><a href="{% url "filter_list" 1 %}">Etiqueta</a></th>
    <th><a href="{% url "filter_list" 2 %}">Descrição</a></th>
    <th><a href="{% url "filter_list" 3 %}">Em posse</a></th>
    <th>Ações</th>
    </tr>
</thead>
<tbody>
    {% for equipment in list_equipment %}
    <tr>
    <td>{{ equipment.tag }}</td>
    <td>{{ equipment.description }}</td>
    {% load my_tag %}
    <td>{% my_tag equipment.id %}</td>
    <td><a href="{% url "equipment_view" equipment.id %}">{% LoanOrDevolution equipment.id %}</a>     
    <a href="{% url "equipment_edit" equipment.id %}">Editar</a>
    <a href="{% url "equipment_delete" equipment.id %}">{% ActiveOrInactive equipment.id %}</a></td>
    {% Atraso equipment.id %}
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="{% url "equipment_new" %}">New</a>
<a href="{% url "home" %}">voltar</a>